# ============================================
# Example Environment Variables
# ============================================

NODE_ENV=

PORT=
APP_PORT=

DATABASE_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

NEON_API_KEY=
NEON_PROJECT_ID=

JWT_SECRET=

LOG_LEVEL=

NODE_TLS_REJECT_UNAUTHORIZED=

ARCJET_KEY=